<%- include('partials/header'); -%>
<!----------------banner setion -->
 <section id="banner">
   <div class="container">
     <div class="row">
        <div class="col-md-6">
            <p class="promo-title">Find your Travel mate</p>
            <!--Form to search the train-->
                <form action="/traindetails" method="POST" class="text-center">
                    <div class="input-group" style="margin:auto;">
                        <input  class="form-control text-center" type="number" placeholder="enter train number" name="num">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <!-- style="background-color: white; border: none" -->
                </form>
            <!--search form ends-->
            <p>Throwing consider dwelling bachelor joy her proposal laughter. Raptures returned disposed one entirely her men ham. By to admire vanity county an mutual as roused</p>
        </div>
     </div>
   </div>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1" d="M0,256L40,256C80,256,160,256,240,224C320,192,400,128,480,90.7C560,53,640,43,720,48C800,53,880,75,960,96C1040,117,1120,139,1200,122.7C1280,107,1360,53,1400,26.7L1440,0L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
  </svg>
 </section>
 <!--banner ends-->
<!-- -------------------------------------------ABOUT US----------------------------------- -->
<section  id="aboutus">
<div class="container aboutus text-center">
  <div><h1 class="text-center font-weight-bold">ABOUT</h1></div>
  <div>
    <p>Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p>
  </div>
</div>
</section>
<!-- -------------------------------------------ABOUT US----------------------------------- -->


 <!-------------------------------------Creator--------------------------------------->
 <section class="creator text-white" id="creator">
 <div class="container heading text-center">
   <h1 class="text-center font-weight-bold">CREATOR</h1>
    <div class="row">
      <div class="col-md-12">
          <div class="card mx-auto">
              <div class="card-header">
                  <img src="kd.jpg" class="img-circle rounded-circle" alt="Cinque Terre" width="100" height="100">
                  <div>
                  <h3>Karandeep Singh</h3>
                </div>
              </div>
              <div class="card-body">
                  <p>Hello there. I'm a passionate young programmer, who has experience in a couple of programming languages. I believe in solving real world problems using programming</p>
              </div>
              <div class="card-footer">
                <p>Follow me on</p>
                <a href="https://github.com/KarandeepSinghCoder"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/karandeepsingh_chandi/"><i class="fab fa-instagram"></i></a>
                <a href="linkedin.com/in/karandeep-singh-018155157"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!------------------------Creator ends------------------->
<!------------------------contribute start------------------->
<section class="contactus" id="contactid">
  <div class="container heading text-center">
    <h1 class="text-center font-weight-bold">Contribute</h1>
    <p>If you are willing to Contribute to our site please fill the form.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 offset-lg-2 offset-md-2 col-1">
          <form>

              <div class="form-group">
                <input type="text" class="form-control" id="nameContributer" required placeholder="username">
              </div>

              <div class="form-group">
                  <input type="email" class="form-control" id="emailContributer" required aria-describedby="emailHelp" placeholder="Enter email">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
              
              <div class="form-group">
                 <input type="text" class="form-control" id="issueContributer"  required placeholder="hilight the isue or a new feture">
              </div>
              <div class="form-group">
                  <textarea class="form-control" rows="3" id="comment" placeholder="How will you solve the issue"></textarea>
                </div>
                <div class="d-flex justify-content-center ">
                  <button type="submit" class="btn form-button">Submit</button>
                </div>
            </form>
      </div>
    </div>
  </div>
</section>

<!------------------------contribute ends------------------->
<%- include('partials/footer'); -%>